body{
    background-color:lavender
}

h1{
    color:purple;
    background-color: plum;
}

#show_sketch{
    float:right;
}

canvas{
    border:5px solid rgb(255, 197, 255);
    border-radius:20px;
    animation-name:example;
    animation-duration:4s;
    margin-top:50px;
    animation-iteration-count:infinite;

}
@keyframes example{
     
    from{box-shadow:1px 1px 38px rgb(231, 55, 231)}
    to{box-shadow:1px 1px 38px rgb(82, 4, 82)}
}

p{
    padding-top:10px;
    font-size:25px;
}
#timer{
    float:right
}
#score{
    float:left
}